In [1]:
import numpy as np 
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [23]:
df = pd.read_csv("data/train.csv", parse_dates=['date'])

In [25]:
df.sample(5)

             date  store  item  sales
14645  2013-02-07      9     1     13
246688 2013-06-28      6    14     51
111973 2014-08-11      2     7     58
550467 2015-04-22      2    31     90
118075 2016-04-26      5     7     56

In [26]:
df.shape

(913000, 4)

In [27]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 913000 entries, 0 to 912999
Data columns (total 4 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   date    913000 non-null  datetime64[ns]
 1   store   913000 non-null  int64
 2   item    913000 non-null  int64
 3   sales   913000 non-null  int64
dtypes: datetime64[ns](1), int64(3)
memory usage: 27.9 MB

In [28]:
df.describe([0.10, 0.30, 0.50, 0.70, 0.90])

,date,store,item,sales
count,913000,913000.000000,913000.000000,913000.000000
mean,2015-07-02 11:59:59.999999744,5.500000,25.500000,52.250287
min,2013-01-01 00:00:00,1.000000,1.000000,0.000000
10%,2013-07-02 00:00:00,1.900000,5.900000,20.000000
30%,2014-07-02 00:00:00,3.700000,15.700000,33.000000
50%,2015-07-02 12:00:00,5.500000,25.500000,47.000000
70%,2016-07-02 00:00:00,7.300000,35.300000,64.000000
90%,2017-07-02 00:00:00,9.100000,45.100000,93.000000
max,2017-12-31 00:00:00,10.000000,50.000000,231.000000
std,NaN,2.872283,14.430878,28.801144

In [29]:
print("Beginning date:",df['date'].min())
print("Ending date:",df['date'].max())

Beginning date: 2013-01-01 00:00:00
Ending date: 2017-12-31 00:00:00

In [31]:
print("Number of unique stores:", df['store'].nunique())
print("Number of unique items:", df['item'].nunique())

Number of unique stores: 10
Number of unique items: 50

In [32]:
print("Number of unique items in each store:", df.groupby(["store"])["item"].nunique())

Number of unique items in each store: store
1     50
2     50
3     50
4     50
5     50
6     50
7     50
8     50
9     50
10    50
Name: item, dtype: int64